@using AspNetCore.ReCaptcha
@model LMS.Domain.Entities.ViewModels.Login.LoginViewModel
@{
    Layout = null;
    int ErrorCode = 200;
    var Message = "";
    if (ViewData["Response"] != null)
    {
        var res = (LMS.Domain.Entities.Domain.BaseResponseModel)ViewData["Response"];
        if (res != null)
        {
            ErrorCode = res.ErrorCode;
            Message = res.Message;
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LMS | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/notiflix/notiflix.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/" class="h1"><b>Login</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form id="UserLogin" class="mb-3" asp-action="Index" asp-controller="Home" method="post" asp-antiforgery="true">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input asp-for="Email" type="text" class="form-control" placeholder="Email" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <label id="Email-error" class="error" for="Email"></label>
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="d-flex flex-row-reverse">
                                <a href="/Home/ForgotPassword">
                                    <small>Forgot Password?</small>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3 validation-container">
                            <div class="input-group">
                                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-eye-slash pwdtoggle"></span>
                                    </div>
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <label id="Password-error" class="error" for="Password"></label>
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="col-md-12 error-message-validation">
                            <div id="LengthError" class="error-message"><i class="fas fa-circle-xmark"></i><span>Password must be between 8 and 20 characters</span></div>
                            <div id="LowercaseError" class="error-message"><i class="fas fa-circle-xmark"></i><span>Password must contain at least one lowercase letter</span></div>
                            <div id="UppercaseError" class="error-message"><i class="fas fa-circle-xmark"></i><span>Password must contain at least one uppercase letter</span></div>
                            <div id="NumericError" class="error-message"><i class="fas fa-circle-xmark"></i><span>Password must contain at least one numeric digit</span></div>
                            <div id="SpecialCharError" class="error-message"><i class="fas fa-circle-xmark"></i><span>Password must contain at least one special character</span></div>
                        </div>
                        <div class="col-md-12 mb-3">
                            @Html.ReCaptcha()
                            <label id="g-recaptcha-error" class="error" for="ReCaptcha"></label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" id="btnLogin" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
                <p class="text-center">
                    <span>New on our platform?</span>
                    <a href="/Home/Register">
                        <span>Create an account</span>
                    </a>
                </p>
            </div>

            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/notiflix/notiflix.js"></script>
    <script src="~/js/inotiflixalert.js"></script>
    <script>
        $(document).ready(function () {
            if ("@ErrorCode" != "" && "@Message" != "") {
                ShowAlert("@Message", "@ErrorCode");
            }
            $(".error-message-validation").hide();
            $("#UserLogin").validate({
                rules: {
                    Email: {
                        required: true,
                    },
                    Password: {
                        required: true
                    }
                },
                messages: {
                    Email: {
                        required: "Email is required.",
                    },
                    Password: {
                        required: "Password is required."
                    }
                }
            });
            $("#Password").on("keyup click", function () {
                $(".error-message-validation").show();
                var val = $(this).val();
                PasswordValidate(val);
            });
            $("#Email").on("keyup", function () {
                var val = $(this).val();
                // Check for email
                if (val) {
                    if (!/^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(val)) {
                        $(".field-validation-valid[data-valmsg-for='Email']").text("Email is invalid");
                    }
                    else {
                        $(".field-validation-valid[data-valmsg-for='Email']").text("");
                    }
                }
                else {
                    $(".field-validation-valid[data-valmsg-for='Email']").text("");
                }
            });
            $(".pwdtoggle").on("click", function () {
                var pwdtoggle = $(this);
                var input = $("#Password")[0];
                if (input.type == "password") {
                    input.type = "type";
                    pwdtoggle.removeClass("fa-eye-slash");
                    pwdtoggle.addClass("fa-eye");
                }
                else {
                    input.type = "password";
                    pwdtoggle.removeClass("fa-eye");
                    pwdtoggle.addClass("fa-eye-slash");
                }
            });
            $(".validation-container").on("mouseover", function () {
                $(".error-message-validation").show();
                var val = $("#Password").val();
                PasswordValidate(val);
            });
            $(".validation-container").on("mouseout", function () {
                $(".error-message-validation").hide();
            });
            $("#btnLogin").on("click", function (e) {
                e.preventDefault();
                $(".field-validation-error").text("");
                var passwordvalidate = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@.#$!%*?&^])[A-Za-z\d@@.#$!%*?&]{8,15}$/.test($("#Password").val());
                var emailvalidate = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test($("#Email").val());
                if (!passwordvalidate) {
                    $("#Password").css("color", "red");
                    $("#Password").css("border-color", "red");
                }
                if ($("#UserLogin").valid()) {
                    if (passwordvalidate && emailvalidate) {
                        if (grecaptcha.getResponse()) {
                            $("#Password").css("color", "green");
                            $("#Password").css("border-color", "green");
                            $("#UserLogin").submit();
                        }
                        else {
                            $("#g-recaptcha-error").text("Please check reCAPTCHA");
                        }
                    }
                }
            });
            function PasswordValidate(val) {
                $(".validationerror").html("");
                // Check length
                if (val.length < 8 || val.length > 20) {
                    $("#LengthError i").attr("class", "");
                    $("#LengthError i").addClass("fa-solid fa-circle-xmark");
                    $("#LengthError").css("color", "red");
                    $("#Password").css("color", "red");
                    $("#Password").css("border-color", "red");
                }
                else {
                    $("#LengthError i").attr("class", "");
                    $("#LengthError i").addClass("fa-solid fa-circle-check");
                    $("#LengthError").css("color", "green");
                }
                // Check for lowercase
                if (!/[a-z]/.test(val)) {
                    $("#LowercaseError i").attr("class", "");
                    $("#LowercaseError i").addClass("fa-solid fa-circle-xmark");
                    $("#LowercaseError").css("color", "red");
                    $("#Password").css("color", "red");
                    $("#Password").css("border-color", "red");
                }
                else {
                    $("#LowercaseError i").attr("class", "");
                    $("#LowercaseError i").addClass("fa-solid fa-circle-check");
                    $("#LowercaseError").css("color", "green");
                }
                // Check for uppercase
                if (!/[A-Z]/.test(val)) {
                    $("#UppercaseError i").attr("class", "");
                    $("#UppercaseError i").addClass("fa-solid fa-circle-xmark");
                    $("#UppercaseError").css("color", "red");
                    $("#Password").css("color", "red");
                    $("#Password").css("border-color", "red");
                }
                else {
                    $("#UppercaseError i").attr("class", "");
                    $("#UppercaseError i").addClass("fa-solid fa-circle-check");
                    $("#UppercaseError").css("color", "green");
                }
                // Check for numeric digit
                if (!/\d/.test(val)) {
                    $("#NumericError i").attr("class", "");
                    $("#NumericError i").addClass("fa-solid fa-circle-xmark");
                    $("#NumericError").css("color", "red");
                    $("#Password").css("color", "red");
                    $("#Password").css("border-color", "red");
                }
                else {
                    $("#NumericError i").attr("class", "");
                    $("#NumericError i").addClass("fa-solid fa-circle-check");
                    $("#NumericError").css("color", "green");
                }
                // Check for special character
                if (!/[@@$.#!%*?&^]/.test(val)) {
                    $("#SpecialCharError i").attr("class", "");
                    $("#SpecialCharError i").addClass("fa-solid fa-circle-xmark");
                    $("#SpecialCharError").css("color", "red");
                    $("#Password").css("color", "red");
                    $("#Password").css("border-color", "red");
                }
                else {
                    $("#SpecialCharError i").attr("class", "");
                    $("#SpecialCharError i").addClass("fa-solid fa-circle-check");
                    $("#SpecialCharError").css("color", "green");
                }
                var passwordvalidate = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@.#$!%*?&^])[A-Za-z\d@@.#$!%*?&]{8,15}$/.test($("#Password").val());
                if (passwordvalidate) {
                    $("#Password").css("color", "green");
                    $("#Password").css("border-color", "green");
                    return;
                }
            }
        });
    </script>
</body>
</html>
